.form{
    display: flex;
}

.messageInput {
    padding: 8px;
    border: 2px solid rgb(41, 151, 253);
    border-radius: .25em;
    margin-right: .25em;
    width: 80%;
}

.messageInput:active, input:focus {
    outline: none;
    box-shadow: 1px 1px 3px rgb(0, 132, 255),
                -1px -1px 3px rgb(0, 132, 255);
}

.sendButton{
    flex-grow: 1;
    padding: .5em;
    color: aliceblue;
    background: rgb(41, 151, 253);
    border-radius: .25em;
    border: none;
    font-weight: 550;
}

.sendButton:hover{
    background-color: darkblue;
    cursor: pointer;
}

.sendButton:active{
    background-color: blue;
}