.chatOuterContainer{
    background-color: purple;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    padding: 5%;
    height: 100vh;
}

.chatInfoBar{  
    grid-column: 1/-1;
}

.chatMessageBox{
    background-color: rgb(82, 82, 79);
    height: 75vh;
    display: grid;
}

.chatRoomData{
    background-color: bisque;
}

.chatInput{
    align-self: end;
}
