
.companyLogo {
    width: 15%;
    margin-left: 25px;
   
}

.infoBar{
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.closeBtn{
    margin-right: 25px;
}

.closeBtnImg{
    height: 25px;
}

