.messageContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.sentText{
    color: darkgoldenrod;
}

.pr-10{
    padding-right: 10px;
}

.messageText{
    color: white;
    word-wrap: break-word;
}

.colorBlack{
    color: black;
}

.backgroundBlue{
    background-color: blueviolet;
}

.backgroundLight{
    background-color: bisque;
}

.justifyStart{
    justify-content: flex-start;
}

.justifyEnd{
    justify-content: flex-end;
}

.messageBox{
    padding: 8px;
    border-radius: 8px;
    max-width: 80%;
    display: inline-block;
    overflow: auto;
}